div.resume-html body,
div.resume-html main,
div.resume-html section,
div.resume-html header,
div.resume-html ul,
div.resume-html p,
div.resume-html h1,
div.resume-html h2,
div.resume-html h3 {
  font-family: {{{fontList 'default'}}};
  font-size: 12px;
  margin: 0; padding: 0;
  display: block;
}

div.resume-html a {
  color: #0064BD;
  text-decoration: none;
}

div.resume-html a:visited {
  color: #7B0796;
}

div.resume-html a:hover {
  text-decoration: underline;
}

div.resume-html h2 {
  text-transform: uppercase;
}

div.resume-html h3 {
  font-size: 1em;
}

div.resume-html hr {
  border: none;
  border-top: 1px solid #B3B3B3;
}

div.resume-html main {
  padding: 15px;
  max-width: 700px;
  margin: 0 auto;
}

div.resume-html section {
  margin-top: 1em;
}

div.resume-html li {
  margin-left: 2em;
}

div.resume-html p, li {
  text-align: justify;
  clear: both;
}

div.resume-html .tenure {
  float: right;
}

div.resume-html thead {
  display: none;
}

div.resume-html main > header {
  width: 100%;
  float: left;
  margin-bottom: 0;
  position: relative;
}


div.resume-html h3 {
  display: inline-block;
  line-height: 1;
}
div.resume-html #contact {
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
}

div.resume-html #contact > div {
  display: inline-block;
  margin-left: 5px;
}

div.resume-html span.fa {
  text-align: left;
  margin-right: 3px;
  float: left;
}

div.resume-html section > div {
  margin-bottom: 1em;
  clear: both;
}

div.resume-html span.keywords {
  font-size: 10px;
  color: gray;
  text-align: right;
}
