{{!

  Templatized CSS file for the Modern theme. Expanded by Handlebars during
  resume generation.

}}

div.resume-html * {
  box-sizing: border-box;
  margin: 0;
}

div.resume-html main {
  display: block;
}

div.resume-html body {
  font-size: 15px;
  color: #333;
  line-height: 1.42857143;
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
  font-family: {{{fontList 'default'}}};
}
body.resume-html {
  font-size: 15px;
  color: #333;
  line-height: 1.42857143;
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
  font-family: {{{fontList 'default'}}};
}

/* Typical page borders are awkward when rendered to PDF. */
div.resume-html body.pdf {
  background-color: #FFFFFF;
}

/* Adobe or wkhtmltopdf has issues with the <main> tag, so we use <div> for
the PDF case, <main> for the HTML case, and style both via an ID. */
div.resume-html #main {
  background-color: #FFF;
  margin: 10px;
  padding: 10px;
  border: 1px solid #E6E6E6;
}

div.resume-html body.pdf > #main {
  border: none;
}

div.resume-html #container > header {
  padding-top: 3em;
  padding-bottom: 1em;
}

div.resume-html body.pdf #container > header {
  padding: 0;
}

div.resume-html #main > #container > section {
  margin-left: 150px;
  position: relative;
  display: block;
}

div.resume-html section > div {
  margin-bottom: 30px;
}

div.resume-html span.fa
{
  font-size: 56px;
  position: absolute;
  top: 27px;
  transform: translateY(-50%);
  left: -100px;
  color: #1a4367;
}

div.resume-html span.fa-code {
  top: 18px;
}

div.resume-html hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #EEE;
}

div.resume-html .tenure, div.resume-html .keywords {
  font-size: 75%;
}

div.resume-html h1 {
  margin: 0;
  font-size: 46px;
  display: inline-block;
}

div.resume-html h2 {
  font-size: 30px;
  color: #4376a2;
  text-transform: uppercase;
  font-weight: normal;
  /*padding-top: 10px;
  margin-bottom: 20px;*/
}

div.resume-html h3 {
  margin-bottom: 0;
  font-size: 18px;
}

div.resume-html a, div.resume-html a:visited {
  color: #428BCA;
  text-decoration: none;
  font-weight: bold;
}

div.resume-html a:hover {
  text-decoration: underline;
}

div.resume-html .defunct {
  color: #989898;
  font-weight: bold;
}

div.resume-html #summary {
  font-size: 90%;
  margin-left: 0;
  padding: 20px 0;
}

div.resume-html #summary > p > strong {
  font-size: 1.25em;
}

div.resume-html #contact {
  float: right;
}

div.resume-html #summary > header > .fa-info {
  font-size: 70px;
  /*letter-spacing: 5px; PDFs hate letter-spacing */
  text-transform: uppercase;
  font-weight: normal;
  top: 30%;
  left: -85px;
  transform: translateY(-50%);
}

div.resume-html #summary h2 {
  display: none;
}


div.resume-html .label-keyword {
  display: inline-block;
  background: #e8f4ff;
  color: black;
  font-size: 0.9em;
  padding: 5px;
  border: 1px solid #357ebd;
  border-radius: 5px;
  margin-top: 2px;
  font-weight: bold;
  text-align: center;
}

div.resume-html .notes {
  font-size: 10px;
  display: block;
  font-weight: normal;
  text-transform: uppercase;
}

div.resume-html .card-skills {
    position: relative;
}
div.resume-html .card-nested {
    min-height: 0;
    margin-bottom: 10px;
    border-width: 1px 0 0 0;
}
div.resume-html .card {
    background: #FFF;
    border-radius: 3px;
    padding: 10px;
}

div.resume-html .skill-level {
  border-radius: 3px;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 0;
  width: 10px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}
div.resume-html .skill-level .skill-progress {
  position: absolute;
  border-radius: 3px;
  bottom: 0;
  width: 100%;
  -webkit-transition: height 1s ease;
}
div.resume-html .skill-level .skill-progress.beginner {
  height: 50%;
  background: #e74c3c;
}
div.resume-html .skill-level .skill-progress.intermediate {
  height: 70%;
  background: #f1c40f;
}
div.resume-html .skill-level .skill-progress.advanced {
  height: 80%;
  background: #428bca;
}
div.resume-html .skill-level .skill-progress.master {
  height: 95%;
  background: #5cb85c;
}
div.resume-html .skill-info {
  margin-left: 10px;
}
@media (max-width: 480px) {
  div.resume-html .skill-info {
    margin-left: 20px;
  }
}
div.resume-html .skill-info > strong {
  font-weight: 400;
  font-size: 24px;
  color: #1d1d1d;
  line-height: 24px;
}

div.resume-html .list-unstyled {
  padding-left: 0;
  list-style: none;
  display: block;
  overflow: auto;
}
div.resume-html .card-skills {
  float: left;
  width: 50%;
}

div.resume-html .card-skills {
  position: relative;
}

div.resume-html .space-top {
    margin-top: 5px;
}

div.resume-html #container {
  max-width: 800px;
  margin: 0 auto;
}

div.resume-html #elevator-pitch {
  text-align: center;
  font-size: 24px;
  color: #BFC1C3;
  text-transform: uppercase;
  font-weight: normal;
}

div.resume-html .res-label {
  font-style: italic;
}
